.content{
    width: 550px;
    margin: auto;
    }
    h1{
    margin-bottom: 85px;
    text-align: center;
    }
    .content-personal-information {
    margin-top: 55px;
    }
    h2{
    text-align: center;
    font-size: 30px;
    }
    li{
    font-size: 20px;
    line-height: 45px;
    }
    .glav-atribut{
    font-weight: bold;
    }
    .content_brief{
    margin-top: 55px;
    }
    p{
    font-size: 20px;
    }
    .content_comm_skills{
    margin-top: 55px;
    }