.Adress{
    display: flex;
    justify-content: space-between; 
    background-color: black;
    width:100%;
    flex-wrap: wrap;
}
.Info{
    text-align: center;
}
.name__Info{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.name{
   text-align: center;
   color: white;
}
.avatarka{
    display: flex;
    justify-content: flex-end;
    padding-left: 25px;
}
.img-avatarka{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}