.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
   
  }
  
.footer__link{
    margin-right: 15px;
}
  
  /* below is just for demo styling */
  .qwerty{
      width: 90px;
      height: 90px;
      margin-right: 55px;
  }
  footer {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
    font-family: Menlo, monospace;
    align-items: center;
    justify-content: space-between;
  }
  
  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  