
li{
    list-style-type: none;
}
nav
{
    padding-top: 15px;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}


nav a:hover
{
    color: #fff;
}

